<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input  type="text" class="form-control" placeholder="Buscar médico" (keyup)="buscarMedico(input.value)">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button [routerLink]="['/medico', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary"> <!-- (click)="crearMedico()"> -->
            <i class="fa fa-plus"></i> Crear médico
          </button>
        </div>

        <h3 class="card-title">Médicos registrados (<small>{{_medicosService.totalMedicos}}</small>)</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Médico</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos">
              <td>
                <img [src]="medico.img | imagen:'medico'" class="w50 img-circle pointer">
              </td>
              <td>
                {{medico.nombre}}
              </td>
              <td>
                {{ medico?.hospital?.nombre }}
              </td>
              <td>
                <button [routerLink]="['/medico', medico._id]" class="btn btn-primary"> <!-- (click)="editarMedico(medico)">-->
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarMedico(medico)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
